@mixin mapIds {
  height: 100vh;
  width: 100%;
  position: relative;
}
@mixin introText {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
$sidebarText: 18px;

* {
  margin: 0;
  padding: 0;
}
#mapid {
  @include mapIds;
}

#newmapid {
  height: 100vh;
  width: 85%;
  float: right;
  position: relative;
  animation: 1s ease-out 0s 1 changeWidth;
}
@keyframes changeWidth {
  0% {
    width: 100%;
  }
  100% {
    width: 85%;
  }
}
.filterSidebar {
  position: absolute;
  top: 50%;
  z-index: 900;
}

#newmapid2 {
  @include mapIds;
  float: right;

  animation: 1s ease-out 0s 1 removeWidth;
}
@keyframes removeWidth {
  0% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}
#caughtFishMap {
  width: 70%;
  height: 600px;
  float: right;
}
.caughtFishForm {
  float: left;
  position: absolute !important;
  top: 15%;
  width: 70%;
}
.formContainer {
  width: 15%;
  height: 100%;
  position: absolute;
  left: 10px;
  float: left;
  border-radius: 0 30px 30px 0;
}
.navList {
  list-style: none;
  color: black;
  position: absolute;
  left: 10px;
  top: 100px;
  z-index: 900;
}
a {
  color: black;
}

.logo {
  width: 50px;
  height: 50px;
}

.userPhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.register {
  display: inline-block;
}

.modalInput {
  margin: 10px;
  width: 250px;
}
.modalBtn {
  position: absolute;
  left: 100px;
}
.notMember {
  cursor: pointer;
}
.notMembertext {
  margin: 20px !important;
}
.filterFish {
  z-index: 200;
  position: absolute;
  bottom: 5%;
  width: 15%;
  margin: 0 0 0 10px;
}
.filterText {
  font-size: $sidebarText;
  margin: 10px 0 10px 0px;
}
.formHeader {
  font-size: $sidebarText;
  margin: 0 0 10px 0;
}

.messageText {
  margin: 0;
}
.introTextContainer {
  position: absolute;
  left: 10%;
  top: 30%;
  z-index: 900;
}
.introText {
  display: none;
  @include introText;
}

.signOut {
  position: absolute;
  z-index: 200;
}
.resizeMap {
  width: 50% !important;
}
.btn-addFish-visible {
  position: absolute;
  z-index: 9000;
  bottom: 50%;
  -webkit-animation: bounce 2s infinite ease-in-out;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateX(5px);
  }
  80% {
    -webkit-transform: translateX(2px);
  }
}
//sass
.btn-addFish-hidden {
  display: none;
  position: absolute;
  z-index: 9000;
  bottom: 50%;
  -webkit-animation: bounce 2s infinite ease-in-out;
}
.slideOut {
  position: absolute;
  left: 13%;
  cursor: pointer;
}

.uploadFish {
  position: absolute;
  z-index: 9000;
  top: 100px;
}
.openModal {
  position: absolute;
  left: 200px;
  z-index: 3000;
}
.btnUpload {
  position: absolute;
  left: 500px;
  z-index: 9000;
}
.logo {
  position: absolute;
  z-index: 900;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
}
label {
  font-family: "Lato", sans-serif;
}
.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane {
  height: 250px;
  text-align: center;
}
.errorMessage {
  color: red;
}

.or {
  margin: 10px;
}

@media screen and (max-device-width: 760px) and (orientation: portrait) {
  .introText {
    @include introText;
    text-align: center;
  }
  .modalBtn {
    left: 10px;
  }
  .introTextContainer {
    width: 70%;
    z-index: 900;
  }
  .logo {
    height: 50px;
    width: 50px;
  }
  .btn-addFish-visible {
    display: none;
  }
  .formContainer {
    position: relative;
    height: 100vh;
    width: 80%;
    margin: 10px;
  }
  .slideOut {
    display: none;
  }
  .filterFish {
    width: 70%;
    position: relative;
  }
  .caughtFishForm {
    float: none;
    width: 100%;
  }
  .userPhoto {
    display: none;
  }
}
